<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 py-5">
      <div class="text-center mx-auto">
        <mat-spinner class="mx-auto" color="warn" *ngIf="isLoading"></mat-spinner>
      </div>
      <form #userLogin="ngForm" *ngIf="!isLoading" (ngSubmit)="loginUser(userLogin)">
        <h1 class="text-center fw-bold">LOGIN</h1>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput type="email" ngModel required #email="ngModel" name="email"
            [ngModelOptions]="{ standalone: false }" maxlength="255" />
          <mat-hint align="end">{{ email.value?.length || 0 }}/255</mat-hint>
        </mat-form-field>
        <br />
        <br />
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="password" ngModel required #password="ngModel" name="password"
            [ngModelOptions]="{ standalone: false }" maxlength="255" />
          <mat-hint align="end">{{ password.value?.length || 0 }}/255</mat-hint>
        </mat-form-field>
        <br />
        <br />
        <div class="text-end">
          <button [disabled]="!userLogin.valid" class="px-4" type="submit" mat-raised-button color="warn">
            Login
          </button>
        </div>
      </form>
      <h3 class="text-center">
        If You are not Member? <a routerLink="/auth/sign-up">Register</a>
      </h3>
    </div>
  </div>
</div>
